// variables
// Customise bootstrap here, and set site-wide variables. Refer to
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// for things to override.

// Set the primarys colour to purple.
$purp: #d1abf0 !default;
$primary: $purp !default;

$dark: $purp;

